[submodule "git-extras"]
  path = vendor/git-extras
  url = https://github.com/visionmedia/git-extras.git
[submodule "z"]
  path = vendor/z
  url = https://github.com/rupa/z.git
[submodule "vendor/rename"]
	path = vendor/rename
	url = https://github.com/ap/rename.git
